# =============================================================================
# Default Values - cert-manager
# =============================================================================
# Reference: https://artifacthub.io/packages/helm/cert-manager/cert-manager
# =============================================================================

installCRDs: true

replicaCount: 1

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 256Mi

webhook:
  replicaCount: 1

cainjector:
  replicaCount: 1

prometheus:
  enabled: true
  servicemonitor:
    enabled: false
