# =============================================================================
# Default Values - Loki Stack
# =============================================================================
# Reference: https://artifacthub.io/packages/helm/grafana/loki-stack
# =============================================================================

loki:
  enabled: true
  persistence:
    enabled: true
    size: 5Gi
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 512Mi

promtail:
  enabled: true
  resources:
    requests:
      cpu: 25m
      memory: 32Mi
    limits:
      cpu: 100m
      memory: 128Mi

grafana:
  enabled: false  # Using kube-prometheus-stack grafana
