---
name: Automated Versioning

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    types: [closed]
    branches:
      - dev

jobs:
  tag-version:
    if: github.event.pull_request.merged == true || github.event_name == 'push'
    runs-on: self-hosted
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Run Versioning Script
        run: |
          ./scripts/automate-version.sh
